body
{
    width: 100%;
     background-color:#d2d1d1;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

*
{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header h1 {
    font-family: Comic Sans MS;
    color: rgb(132, 1, 255)
    
}


header a {
    font-family: Comic Sans MS;
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-top: 150px;
    padding-bottom: 50px;
}

footer {
    
    padding: 200px;
    background-color: rgb(19, 18, 18);
    height: 800px;
    display: flex;
    flex-direction: row;
    color: rgb(169, 168, 168);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

hr {
    height: 100px;
}

footer h2 {

    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
}

footer a {
    font-family: Comic Sans MS;
    text-decoration: none;
    color: rgb(169, 168, 168);
}

.caixa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:auto;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
    width: 5%;
    left: 20px;
    bottom: 20px;
    display: flex;
}

.property-card
{
  height:24em;
  width:18em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.property-image
{
  height:33%;
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}

#img1 {
    background-image: url('./img/pc1.jpg');
}

#img2 {
    background-image: url('./img/pc2.png');
}

#img3 {
    background-image: url('./img/pc3.jpg');
}

#img4 {
    background-image: url('./img/pc4.jpg');
}

#img5 {
    background-image: url('./img/pc5.jpg');
}

#img6 {
    background-image: url('./img/pc6.jpg');
}

#img7 {
    background-image: url('./img/pc7.jpg');
}

#img8 {
    background-image: url('./img/pc8.webp');
}

#img9 {
    background-image: url('./img/pc9.webp')
}    


.property-description
{
  background-color: #FAFAFC;
  height:66%;
  width:100%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-inline: 25px;
}

.property-description p {
    font-size: large;
}

.property-description h5 {
    color: rgb(132, 1, 255)
}

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}

.property-card:hover .property-image
{
  height:100%;
  position: absolute;
}

.property-card:hover 
{
    width: 380px;
    background-color:white;
}

.property-card:hover 
{
  background-color: white;
  cursor:pointer;
}

.property-card:hover .property-description p, .property-card:hover .property-description h5{
    display: none;
}

.btn-subir {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-subir a i {
    color: rgb(132, 1, 255)
    font-size: xx-large;
}

.form1 button{
    border-radius: 25px;
    padding: 5px;
    width: 240px;
}