*{
    margin: 0px;    
}
p{
    color:#ebe7e2;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width:65%;
}
.description{
    color:#ff4654;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: #101823;
    overflow-x:hidden;
}
.container{
    margin-top: 2%;
}
.conteudo{
    width:100%;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 20%;
}
h1{
    align-items: center;
    text-align: left;
    color: #ebe7e2;
    font-family: 'Oswald', sans-serif;
}

video{
    width: 60%;
    align-items: center
    
}

::-webkit-scrollbar{
    background-color: #0d1d2c;
    
}

::-webkit-scrollbar-thumb{
    background-color: #182535;
    border-radius:3px;
    
}


    
