*{
    margin: 0;
}
body{
    background-color: #101823;
    
}
table{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color:#ebe7e2;
    align-content: center;
    width:80%;
   
}
th, td {
    border-bottom: 1px solid #182535;
    text-align: center;
    height: 35px;
    align-content: center;
  }
#table_div {
    width: 80%;
    margin-left: 17% !important;
    align-content: center;
    align-items: center;
    align-self: center;
}

select {
    background-color:#182535;
    color: #ebe7e2;
    width: 120px;
    height: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    align-items: center;
    border-radius: 3px;
    outline: none;
    border: none;
}

input[type=text]{
    background-color: #182535;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #ebe7e2;
    outline: none;
    background-image: url(./icones/lupa.png);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    padding: 9px 15px 9px 27px;
}
input[type="text"]:focus{
    border-bottom: 2px solid #ff4654;
}

a{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color:#ebe7e2;
    
    
}

a:link, a:visited, a:active  {
    text-decoration: none;
    border: solid 2px #101823;
    border-bottom: none;
    border-top: none;
    border-left: none;
    text-align: center;
  }
  
  
  
  a:hover {
    
    color: #ff4654;
  }

  .img_mapa{
      height: 100px;
      width: 200px;
      vertical-align:bottom;
  }

  .img_agente{
    height: 100px;
    width: 100px;
    vertical-align:top;
  }

  ::-webkit-scrollbar{
    background-color: #0d1d2c;
    
}

::-webkit-scrollbar-thumb{
    background-color: #182535;
    border-radius:3px;
    
}