body{
    background-color: #102823;
}
p{
    color: #ebe7e2;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    color:#ebe7e2;
    
    
}

a:link, a:visited, a:active  {
    text-decoration: none;
    border: solid 2px #101823;
    border-bottom: none;
    border-top: none;
    border-left: none;
    text-align: center;
  }
  
  
  
  a:hover {
    background-color: #182535;
    color: #ff4654;
  }

