body {
    margin-left: 15%;
    margin-right: 15%;
}

#titulo h1.black{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
}


#historia p{
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
}
#historia2 p{
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    line-height: 35px;
    font-size: 18px;
}

#bottomVoltar a{
    background-color: #0f5fff;
    border-radius: 50px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 25px 10px 25px;
}
#bottomVoltar a:hover{
    background-color: #0f3fff;
}

#bottomVoltar2 a{
    background-color: #0f5fff;
    border-radius: 50px;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 25px 10px 25px;
}
#bottomVoltar2 a:hover{
    background-color: #0f3fff;
}
.containerLink{
    margin-top: 90px;
    margin-left: 40%;
    margin-right: 40%;
}

/*Dark mode*/
#darkmode{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    border-radius: 20px;
    padding: 10px;
    font-size: 95%;
}

/* Definindo o Footer */

#hr{
    color: 0.5px #575455 solid;
}

#footer{
    width: 100%;
    height: 40px;
    color: #575455;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    font-family: Poppins;
}