@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    font-family: Montserrat;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    padding: 1em 0;
  }
  
  p {
    margin: 1em 0;
  }
  
  .page {
    background: #fff;
    color: #000;
    min-height: 100%;
  }
  
  #dark-mode-input {
    display: none;
  }
  
  #dark-mode-input:checked ~ .page {
    background: #36393e;
    color: #fff; 
  }
  
  .dark-mode-toggler {
    position: absolute;
    width: 40px;
    height: 20px;
    background: #ccc;
    border: 2px solid #bbb;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .dark-mode-toggler div {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 300ms ease-in-out;
  }
  
  #dark-mode-input:checked ~ .dark-mode-toggler {
    background: black;
  }
  
  #dark-mode-input:checked ~ .dark-mode-toggler div {
    background: #ccc;
    left: 21px;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
 

span{
  
  display: inline-flex;
  width: 180px;
  height: 45px;
  margin: 5px;
  perspective: 500px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
